<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/out/artifacts/web</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="lib">
          <element id="library" level="project" name="lib" />
        </element>
      </element>
      <element id="dir-copy" path="$PROJECT_DIR$/web" />
      <element id="javaee-facet-resources" facet="kwanyeong Jin/javaeeApplication/javaEEApplication" />
      <element id="javaee-facet-resources" facet="kwanyeong Jin/web/Web" />
    </root>
  </artifact>
</component>