@charset "UTF-8";

html, body {
	height: 100%;
}

html {
	line-height: 10px;
	word-break: keep-all;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
}

body {
	position: relative;	
	background-color :#fff ;
}


.board_write_wrap{
	min-width:680px;
	max-width : 720px;
	margin-left: auto;
    margin-right: auto;
    padding-top : 60px;
}

input[type="text"]{
	box-shadow : none;
	border : none;
	border-bottom : 1px solid;
	
	
}



div {
    display: block;
}

.text_from{
	position: relative;
	display: flex;	
	flex-wrap: wrap;

	
}

.category_select_from{
	min-width : 720px;
	height : 50px;
	font-size:15px;
	border : none;
		border-bottom : 1px solid;
	padding-left : 15px;

}


select::option{
	margin:10px;
}

.board_write_wrap .board_content_wrap{
	text-align : center;
	
	
}

.board_subject_from{
	max-width : 720px;
	width : 720px;
	height : 50px;
	font-size:15px;
	border : none;
	border-bottom : 1px solid black;
	padding-left : 15px;
}

.board_content_write{
	max-width : 720px;
	min-width : 690px;
	height : 350px;
	padding : 15px;
	
		
}


textarea::placeholder{
	font-size:15px;
	
}


input[type="file"] {
    position: absolute;
    width: 0;
    height: 0;
    padding: 0;
    overflow: hidden;
    border: 0;
}

.board_file_wrap .file {
	margin-top : 20px;
    height: 30px;
    border-bottom: 1px solid #dddddd;
    width: 720px;
    color: #999999;
    font-size:13px
}

.editor_group{
	margin-top : 50px;
}
.board_write_wrap .board_tag_wrap{
	width : 720px;
	}
.board_tag_wrap{
	display : inline-block;
	
}

.tag_add{
	border : none;
	font-size : 10px;
	margin : 0px 10px;
	padding: 10px 15px;
}	
	

.board_tag_text{
	padding-left : 15px;
	width : 480px;
	height : 50px;
	font-size:15px;
	border : none;
	border-bottom : 1px solid;
	
}

.board_write_wrap .board_button_wrap{
	text-align : right;
	padding-top : 60px;
	margin-bottom : 60px;
	max-width:720px;
}

.board_write_button{
	padding : 10px;
	border : none;
	margin-top : 20px;
	margin-left : 10px;
	margin-right : 0px;
	margin-bottom : 0px;
	
}	



.viewer_tag {
    padding: 0 20px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

li {
    display: list-item;
}

.viewer_tag_item {
    overflow: hidden;
    max-width: 100%;
    display: inline-block;
    vertical-align: top;
    margin: 6px 6px 0 0;
}

.viewer_tag_list{
	text-align: left;
}

.viewer_tag_link {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    padding: 7px 8px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: -0.5px;
    color: #767678;
    border-radius: 16px;
    background-color: #f4f4f4;
    word-break: break-all;
}	
