@charset "UTF-8";

html, body {
	height: 100%;
}

html {
	font-size: 10px;
	line-height: 10px;
	word-break: keep-all;
	overflow-wrap: break-word;
	word-wrap: break-word;
}

body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd, table, th, td, form, fieldset, legend, input, textarea, button, select {
	margin: 0;
	padding: 0;
}

body {
	display: flex;	
	position: relative;	
	background-color :#fff ;
}


.board_write_wrap{
	min-width:720px;
	max-width : 1080px;
	margin-left: auto;
    margin-right: auto;
    padding-top : 60px;
}

input[type]{
	box-shadow : none;
	border : none;
	border-bottom : 1px solid;
	
	
}



div {
    display: block;
}

.board_write_wrap .board_head_wrap{
}

.text_from{
	position: relative;
	display: flex;	
	flex-wrap: wrap;

	
}

.category_select_from{
	min-width : 720px;
	height : 50px;
	font-size:15px;
	border : none;
		border-bottom : 1px solid;
	padding-left : 15px;

}


select::option{
	margin:10px;
}

.board_write_wrap .board_content_wrap{
	text-align : center;
	
	
}

.board_subject_from{
	max-width : 720px;
	width : 705px;
	height : 50px;
	font-size:15px;
	border : none;
	border-bottom : 1px solid black;
	padding-left : 15px;
}

.board_content_write{
	max-width : 720px;
	min-width : 690px;
	height : 350px;
	padding : 15px;
	
		
}

	.ck-editor__editable {
	    min-height: 300px;
	}

.editor_group{
}

#ckeditor{
}

textarea::placeholder{
	font-size:15px;
	
}

.board_write_wrap .board_tag_wrap{
	width : 720px;
	}
.board_tag_wrap{
	display : inline-block;
	
}

.tag_add{
	border : none;
	font-size : 15px;
	margin : 0px 10px;
	padding: 15px;
}	
	

.board_tag_text{
	padding-left : 15px;
	width : 480px;
	height : 50px;
	font-size:15px;
	border : none;
	border-bottom : 1px solid;
	
}

.board_write_wrap .board_button_wrap{
	text-align : right;
	padding-top : 60px;
}

.board_write_button{
	padding : 10px;
	border : none;
	margin-top : 20px;
	margin-left : 10px;
	margin-right : 0px;
	margin-bottom : 0px;
	
}	
	
/*

.category_select{
	width : 200px;
}

#board_title_write{
	width : 200px;
	
}
form .write{
}
*/