.main_container{
    /*height: 100%;*/
}
/*rotate*/
.recommend_area {
    width: 100%;
    height: 500px;
    align-items: center;
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.recommend_bar {
    display: block;
    position: relative;
    touch-action: pan-y;
    width: 1080px;
    height: 400px;
    margin: 0 auto;
}

.recommend_cards {
    position: absolute;
    overflow: hidden;
    touch-action: pan-y;
    width: 100%;
    height: 365px;
    margin: 0 auto;
    padding: 0;
    z-index: 1000;
}

.blind {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
}

.reco_card {
    position: absolute;
    overflow: hidden;
    list-style: inherit;
    height: 350px;
    width: 300px;
    box-sizing: border-box;
    padding: 0 20px 0 0;
    border: none;
    background-color: inherit;
}

.card-view {
    border-radius: 15px;
    height: 99%;
    width: 100%;
    overflow: hidden;
    display: inline-block;
    border: 1px solid #01273C;;
}
 .card-body-font{
     color: #353C42;
 }

.card_img {
    height: 50%;
    width: 100%;
}

.left-area {
    display: block;
    position: absolute;
    z-index: 1010;
    top: 0;
    bottom: 0;
    right: auto;
    margin: auto 0;
    opacity: 0.6;
    transform: translateX(-50%);
}

.right-area {
    display: block;
    position: absolute;
    z-index: 1010;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 0;
    opacity: 0.6;
    transform: translateX(50%);
}

.left-area:hover,
.right-area:hover {
    opacity: 0.7;
}

.left-button {
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 36px;
    height: 36px;
    background-image: url(../image/common/left-arrow.png);
    background-repeat: no-repeat;
    background-position: 42% 50%;
    background-size: 30%;
}

.right-button {
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid lightgray;
    width: 36px;
    height: 36px;
    background-image: url(../image/common/right-arrow.png);
    background-repeat: no-repeat;
    background-position: 60% 50%;
    background-size: 30%;
}

/*channelList.jsp*/
.container {
    max-width: 1200px;
    margin: auto;
}

.buttons-container {
    display: flex;
    justify-content: center;
}


.rounded-circle {
    width: 7rem;
    height: 7rem;
}

.row.area {
    width: 900px;
    margin: 0 auto;
    padding: 20px 0;

}

.col-md-4 {
    padding: 0px;
}

.ch_card {
    margin: 0 auto;
    background-color: white;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    width: 260px;
    height: 300px;
    flex-direction: column;
}

.card-img-top{
    margin-top: 20px
    }

.card-body {
    text-align: center;
}



/*pop_con_list.jsp*/
.popular-list-area {
    width: 1080px;
    margin: 20px auto 15px;
    /*padding: 20px;*/
}
.popular-list-bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px
}

.popular-list-cards {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
}

.popular-list-card {
    width: 500px;
    height: 150px;
    display: flex;
    margin: 25px 20px 0 20px;
    border: 1px solid #01273C;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 5px 5px 5px #888888;
}

.popular-list-content {
    display: inline-block;
    width: 500px;
}

.popular-list-imgframe {
    list-style: none;
}

.popular-list-img {
    width: 120px;
    height: 118px;
    border-radius: 5px;
}

.popular-list-title {
    font-size: 20px;
    font-weight: bolder;
    line-height: 2em;
}


/*channelList.jsp*/

.rounded-circle {
	width: 7rem;
	height: 7rem;
}

.row.area {
	width: 900px;
	margin: 0 auto;
	padding: 20px 0;
	
}

.col-md-4 {
	padding: 0px;
}

.card {
	margin: 0 auto;
	background-color: white;
	overflow: hidden;
	transition: all 0.3s ease-in-out;
	width: 300px;
	height: 300px;
}

.card-body {
	text-align: center;
}

/*loader*/
:root {
    --dot1: #0359AE;
    --dot2: #14B09B;
    --dot3: #EBE5D9;
}

.dot:before {
    margin: 15px;
    content: "";
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    animation: palette 2s infinite cubic-bezier(0.25, 0.46, 0.09, 0.32);
}

@keyframes palette {
    0% {
        color: var(--dot1);
        box-shadow: 20px 0px 0 0 var(--dot2), 6.18034px 19.02113px 0 0 var(--dot3), -16.18034px 11.75571px 0 0 var(--dot1), -16.18034px -11.75571px 0 0 var(--dot2), 6.18034px -19.02113px 0 0 var(--dot3);
    }
    20% {
        color: var(--dot2);
        box-shadow: 20px 0px 0 0 var(--dot3), 6.18034px 19.02113px 0 0 var(--dot1), -16.18034px 11.75571px 0 0 var(--dot2), -16.18034px -11.75571px 0 0 var(--dot3), 6.18034px -19.02113px 0 0 var(--dot1);
    }
    40% {
        color: var(--dot3);
        box-shadow: 20px 0px 0 0 var(--dot1), 6.18034px 19.02113px 0 0 var(--dot2), -16.18034px 11.75571px 0 0 var(--dot3), -16.18034px -11.75571px 0 0 var(--dot1), 6.18034px -19.02113px 0 0 var(--dot2);
    }
    60% {
        color: var(--dot1);
        box-shadow: 20px 0px 0 0 var(--dot2), 6.18034px 19.02113px 0 0 var(--dot3), -16.18034px 11.75571px 0 0 var(--dot1), -16.18034px -11.75571px 0 0 var(--dot2), 6.18034px -19.02113px 0 0 var(--dot3);
    }
    80% {
        color: var(--dot2);
        box-shadow: 20px 0px 0 0 var(--dot3), 6.18034px 19.02113px 0 0 var(--dot1), -16.18034px 11.75571px 0 0 var(--dot2), -16.18034px -11.75571px 0 0 var(--dot3), 6.18034px -19.02113px 0 0 var(--dot1);
    }
    100% {
        color: var(--dot3);
        box-shadow: 20px 0px 0 0 var(--dot1), 6.18034px 19.02113px 0 0 var(--dot2), -16.18034px 11.75571px 0 0 var(--dot3), -16.18034px -11.75571px 0 0 var(--dot1), 6.18034px -19.02113px 0 0 var(--dot2);
        transform: rotate(360deg);
    }
}