.myPage-container {
	height: 1000px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-content: center;
}

.myPage-area {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 45%;
	text-align: center;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.myPage-profile {
	margin: 30px auto 30px auto;
	width: 130px;
	height: 130px;
	display: inline-block;
	justify-content: center;
}
.idView {
	width: 100px;
	height: 28px;
	text-align: center;
	border: none;
	padding-top: 10px;
	outline: none;
}
.myPage-img {
	width: 150px;
	height: 150px;
	border: 1px solid black;
}

.myPage-bar {
	margin: 20px 5px;
}

form{
	display : inline-block;
}

#selecbutt1, #selecbutt2, #selecbutt3, #selecbutt4 {
	width: 130px;
	height: 45px;
	border: 1px solid black;
	padding: 1px;
	margin: 20px;
	background: #01273c;
	color: white;
}

#selecbutt1:focus, #selecbutt2:focus, #selecbutt3:focus, #selecbutt4:focus {
	outline: none;
}
	
.myPage-inner {
	width: 80%;
	height: auto;
}

.myPage-frame {
	border: 1px solid black;
	height: 400px;
}

.infobutt {
	width: 20px;
	height: 20px;
	margin-top: 100px;
	padding-left: 4px;
}

.infobuttimg {
	width: 20px;
	height: 20px;
	margin-top: 50px;
}

.myPageprofile {
	width: 100px;
	height: 100px;
	margin: auto;
}

.forinline{
	display: flex;
}