* {
	box-sizing: border-box;
}

#searchyard {
	width: 100%;
	text-align: center;
}

#searchInput {
	width: 70%;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	margin-bottom: 12px;
	margin-top: 10px;
}

#searchUL {
	list-style-type: none;
	padding: 0;
	margin: auto;
	width: 70%;
}

#searchUL li a {
	border: 1px solid #ddd;
	margin-top: -1px; 					/* 테두리 중복 방지 */
	background-color: #f6f6f6;
	padding: 12px;
	text-decoration: none;
	font-size: 18px;
	color: black;
	display: block;
	text-align: left !important;
}

#searchUL li a:hover:not(.header) {
	background-color: #eee;
}